body {
  width: 100%;
  height: 100%;
  color: white;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #4da4ff;
  background-image: linear-gradient(34deg, #4da4ff 0%, #d5b2ff 100%);
}

.main-container {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  word-wrap: break-word;
}

h1, h2, h3 {
  font-weight: 400;
}

.array-container {
  position: absolute;
  bottom: 0;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}

.array-bar {
  width: 2px;
  background-color: pink;
  display: inline-block;
  margin: 0 1px;
  transition: all 0.5s ease-in-out;
}
